.container {
    width: 700px;
    margin: 0 auto;
    padding-left: 24px; 
    padding-right: 24px;
    padding-bottom: 32px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.progress-bar {
    height: 20px;
    border-radius: 10px;
    margin: 12px auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.progress-info {
    display: flex;
    column-gap: 24px;
    font-weight: 500;
}